<header class="header">
  <div class="blog-title">
    <a href="<%- url_for() %>" class="logo"><%= theme.info.title %></a>
  </div>
  <nav class="navbar">
    <ul class="menu">
      <% for (ca in theme.menu) { %>
        <li class="menu-item">
          <a href="<%- url_for(theme.menu[ca].link) %>" class="menu-item-link"><%- __(theme.menu[ca].name) %> </a>
        </li>
      <% } %>  
    </ul>
  </nav>

  
  <script src="/js/jquery.min.js"></script>

  <%- partial('totop') %>
  <script src="<%- config.root %>js/totop.js"></script>


</header>