<!DOCTYPE html>
<html>
  <head><%- partial('_common/head') %></head>
  <body class="mdui-appbar-with-toolbar body-container">
    <nav><%- partial('_common/navigation-bar') %></nav>
    <fab><%- partial('_common/fab') %></fab>
    <%- body %>
    <footer><%- partial('_common/footer') %></footer>
  </body>
</html>